@font-face {
  font-family: "alexbrush";
  src: url("../fonts/alexbrush-regular.eot?") format("eot"),
  url("../fonts/alexbrush-regular.woff") format("woff"),
  url("../fonts/alexbrush-regular.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  src: url("../fonts/inconsolata-regular.eot?") format("eot"),
  url("../fonts/inconsolata-regular.woff") format("woff"),
  url("../fonts/inconsolata-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "playfairdisplay";
  src: url("../fonts/playfairdisplay-regular.eot?") format("eot"),
  url("../fonts/playfairdisplay-regular.woff") format("woff"),
  url("../fonts/playfairdisplay-regular.ttf") format("truetype");
   font-weight: normal;
  font-style: normal;
}
div #banner{
    font-family: 'inconsolata';
	margin-top: 10px;
    margin-left: 244px;
}

body{
	font-family: 'playfairdisplay';
	font-size: 14px;
	color: #080808;
}


	
	
}
/* @media screen and (max-width: 320px){ */
	/* #home{ */
		/* margin-left:40px; */
	/* } */
	
	 /* #home .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
/* #menu1 .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
 /* #menu2 .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
	/* .thumbnail>img{ */
		/* width: 70%; */
    /* height: 80%; */
    /* margin-bottom: 10px; */
	/* } */

	
/* } */
	
/*CSS phần banner*/
#timkiem{
	margin-top:-20px;
}
.banner_gioithieu{
	margin-top:20px;
}
.banner11{
	margin-left:8px;
}
/*CSS phần menu chính*/
.navbar-inverse{
                background-color: red;
            }
.navbar-inverse li a{
	color:white;
}		
/*CSS phần Carousel*/
	 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .noidung{
     border: 1px solid grey;
     box-sizing: border-box;
	 margin-top:80px;
	 background-color:whitesmoke;
				
   }
/*CSS phần Carousel*/
/*CSS cho phần nội dung và sản phẩm*/
.noidung1{
	margin-top:30px;
}
 	
  #myNavbar2{
	  margin-top:3px;
	  background-color:red;
  }
  #myNavbar2 >li>a{
	  color:white;
  }
 #myNavbar2 li{
	    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 14px;
 }
  
  /*Css cho phần footer*/
  .lib_img img{
	float:left;
	margin-left:10px;
	margin-top:20px;
	}
	.thumbnail11 img{
				width:20%;
				height:25%;
	}
/** CSS cho phần video*/		
.video{
	margin-top:50px;
}

	#home{
		margin-left:60px;
	}
	#menu1{
		margin-left:60px;
	}
	#menu2{
		margin-left:60px;
	}
		 #home .content11
	 {
       margin-left: 20px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
#menu1 .content11
	 {
       margin-left: 13px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
 #menu2 .content11
	 {
       margin-left: 13px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
	.thumbnail>img{
		width: 100%;
    height: 100%;
    margin-bottom: 10px;
	}	

			
			
			
			
			
			
			
			