.thumbnail_tt_dulich{
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: -14px;
}
.thongtinchitiet{
    margin-top: 8px;
}
.thumbnail_tt_dulich img{
    width: 100%;

    margin-top: -10px;
}
.thongtin_dulich{
    background-color: whitesmoke;
    height: 100px;
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-size: 15px;
    background-color: white;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
@media screen and (max-width: 320px){
    .thongtin_dulich{
        height: 250px;
    }
    .thongtinchitiet{
        margin-top: 2px;
        margin-left: 26px;
    }
}
