@font-face {
  font-family: "alexbrush";
  src: url("../fonts/alexbrush-regular.eot?") format("eot"),
  url("../fonts/alexbrush-regular.woff") format("woff"),
  url("../fonts/alexbrush-regular.ttf") format("truetype");
}
@font-face {
  font-family: "inconsolata";
  src: url("../fonts/inconsolata-regular.eot?") format("eot"),
  url("../fonts/inconsolata-regular.woff") format("woff"),
  url("../fonts/inconsolata-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "playfairdisplay";
  src: url("../fonts/playfairdisplay-regular.eot?") format("eot"),
  url("../fonts/playfairdisplay-regular.woff") format("woff"),
  url("../fonts/playfairdisplay-regular.ttf") format("truetype");
   font-weight: normal;
  font-style: normal;
}
div #banner{
    font-family: 'inconsolata';
	margin-top: 10px;
    margin-left: 244px;
}

body{
	font-family: 'playfairdisplay';
	font-size: 14px;
	color: #080808;
}

/* @media screen and (max-width: 320px){ */
	/* #home{ */
		/* margin-left:40px; */
	/* } */
	
	 /* #home .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
/* #menu1 .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
 /* #menu2 .content11 */
	 /* { */
       /* margin-left: 13px; */
		/* width: 100px;  */
        /* height: 100px; */
		/* margin-bottom:80px; */
		/* float: left;	 */
         /* } */
	/* .thumbnail>img{ */
		/* width: 70%; */
    /* height: 80%; */
    /* margin-bottom: 10px; */
	/* } */

	
/* } */
	
/*CSS phần banner*/
#timkiem{
	margin-top:-16px;
}
.banner_gioithieu{
	margin-top:20px;
}
.banner11{
	margin-left:60px;
}
/*CSS phần menu chính*/
.navbar-inverse{
                background-color: red;
            }
.navbar-inverse li a{
	color:white;
}		
/*CSS phần Carousel*/
	 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .noidung{
     border: 1px solid grey;
     box-sizing: border-box;
	 margin-top:80px;
	 background-color:whitesmoke;
				
   }
/*CSS phần Carousel*/
/*CSS cho phần nội dung và sản phẩm*/
.noidung1{
	margin-top:30px;
}
 	
  #myNavbar2{
	  margin-top:3px;
	  background-color:red;
  }
  #myNavbar2 >li>a{
	  color:white;
  }
 #myNavbar2 li{
	    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 14px;
 }
  
  /*Css cho phần footer*/
  .lib_img img{
	float:left;
	margin-left:10px;
	margin-top:20px;
	}
	.thumbnail11 img{
				width:20%;
				height:25%;
	}
/** CSS cho phần video*/		
.video{
	margin-top:50px;
}

	#home{
		margin-left:60px;
	}
	#menu1{
		margin-left:60px;
	}
	#menu2{
		margin-left:60px;
	}
		 #home .content11
	 {
       margin-left: 20px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
#menu1 .content11
	 {
       margin-left: 13px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
 #menu2 .content11
	 {
       margin-left: 13px;
		width: 150px; 
        height: 150px;
		margin-bottom:80px;
		float: left;	
         }
	.thumbnail>img{
		width: 100%;
    height: 100%;
    margin-bottom: 10px;
	}	
	.border_content{
		
		margin-top:5px;
	}
/*CSS cho bài viết*/
.baiviet1{
	margin-bottom:20px;
}

.tieude7{
	margin-top:20px;
}

.thumbnail_small img{
	width:70%;
	height:70%;
}
.tieude6_small{
	margin-left:-50px;
}


.myNav2{
	margin-left:-27px;
}
.myNav2 li a{
	text-decoration:none;
}
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
/*CSS cho hiệu ứng hiện ra từ từ*/
	.slideanim{
				visibility:hidden;
			}
			.slide1{
				animation-name:slide1;
				-webkit-animation-name:slide1;
				animation-duration:2s;
				-webkit-animation-duration:2s;
				visibility: visible;
			}
			@keyframes slide1{
				0% {
					opacity:0;
					transform: translateY(70%);
				}
				100%{
					opacity:1;
					transform: translateY(0%);
				}
			}
			@-webkit-keyframes slide1{
				0% {
					opacity:0;
					-webkit-transform: translateY(70%);
				}
				100%{
					opacity:1;
					-webkit-transform: translateY(0%);
				}
			}
					
/*CSS cho nut Share facebook*/
.Share{
    margin-left: 20px;
    margin-top: 20px;
}
.share_content{
    width: 100px;
}
.FanPage{
    margin-left: -28px;
    margin-top: 0px;
}
.calendar{
    margin-top: 20px;
}
			
			
			
			
			