@media screen and (min-width: 769px){
.thumbnail_gt{
padding:0 0 15px 0;
background-color: whitesmoke;
margin-left: 20px;
margin-top: 42px;
}
.thumbnail_gt anh6{
margin-left: 0px;
width:100%;
}
.gioithieu{
	margin-top:4px;
}

.thumbnail_tintuc{
                padding:0 0 15px 0;
                margin-left: 10px;
				margin-bottom:60px;
 
			}
.thumbnail_tintuc .anh_tintuc1{
                width: 75%;
                height: 100%;
                
                margin-left: 20px;
            }
#timkiem_tintuc{
    margin-top: 10px;
}
.quangcao2_tintuc{
    margin-top: 30px;
}
.tieude_tintuc{
    margin-left: 20px;
}






}







